
.sliderContainers{
    width: 100%;
    height:100%;
    text-align: left;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
}

.sliderContainer{
display: flex;
justify-content: center;
align-items: center;
}

.image_wrapper{
    width: 200px;
    height: 100%;
    /* background-color: red; */
}

.image_wrapper img{
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
}

.client-slider-title{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-weight: lighter;
    float: left;
    color:rgb(255, 255, 255);
    font-size: 1.6vw;
    padding: 1%;
    /* background-color: red; */
}

@media (max-width:786px){
    .image_wrapper{
        width: 120px;
        height: 100%;
        /* background-color: red; */
    }
    
    .image_wrapper img{
        width: 100%;
        object-fit: cover;
    }

    .client-slider-title{
        font-size: 3vw;
    }
    
}